Order_Grabber_Web/Connected Services/ServiceProduct/Order_Grabber_DataService.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Order_Grabber_DataService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Order_Grabber_DataService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="cost_price" type="xs:double" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gain" type="xs:double" />
      <xs:element minOccurs="0" name="product_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_id" type="xs:int" />
      <xs:element minOccurs="0" name="product_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
</xs:schema>