WebApp/Connected Services/ServiceModeloNegocio/ServiceModeloNegocio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceModeloNegocio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58576/ServiceModeloNegocio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58576/ServiceModeloNegocio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58576/ServiceModeloNegocio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Data_Service.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerById" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_EditCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductById" />
  </wsdl:message>
  <wsdl:message name="IService_GetProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProduct" />
  </wsdl:message>
  <wsdl:message name="IService_CreateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProduct" />
  </wsdl:message>
  <wsdl:message name="IService_EditProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetOrderById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderById" />
  </wsdl:message>
  <wsdl:message name="IService_GetOrderById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:EditOrder" />
  </wsdl:message>
  <wsdl:message name="IService_EditOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerCustomer/GetAllCustomers" message="tns:IService_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerCustomer/GetAllCustomersResponse" message="tns:IService_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerCustomer/GetCustomerById" message="tns:IService_GetCustomerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerCustomer/GetCustomerByIdResponse" message="tns:IService_GetCustomerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerCustomer/CreateCustomer" message="tns:IService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerCustomer/CreateCustomerResponse" message="tns:IService_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerCustomer/EditCustomer" message="tns:IService_EditCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerCustomer/EditCustomerResponse" message="tns:IService_EditCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerCustomer/DeleteCustomer" message="tns:IService_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerCustomer/DeleteCustomerResponse" message="tns:IService_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerProduct/GetAllProducts" message="tns:IService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerProduct/GetAllProductsResponse" message="tns:IService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerProduct/GetProductById" message="tns:IService_GetProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerProduct/GetProductByIdResponse" message="tns:IService_GetProductById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerProduct/CreateProduct" message="tns:IService_CreateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerProduct/CreateProductResponse" message="tns:IService_CreateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerProduct/EditProduct" message="tns:IService_EditProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerProduct/EditProductResponse" message="tns:IService_EditProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerProduct/DeleteProduct" message="tns:IService_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerProduct/DeleteProductResponse" message="tns:IService_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerOrder/GetAllOrders" message="tns:IService_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerOrder/GetAllOrdersResponse" message="tns:IService_GetAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderById">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerOrder/GetOrderById" message="tns:IService_GetOrderById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerOrder/GetOrderByIdResponse" message="tns:IService_GetOrderById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerOrder/CreateOrder" message="tns:IService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerOrder/CreateOrderResponse" message="tns:IService_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerOrder/EditOrder" message="tns:IService_EditOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerOrder/EditOrderResponse" message="tns:IService_EditOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerOrder/DeleteOrder" message="tns:IService_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerOrder/DeleteOrderResponse" message="tns:IService_DeleteOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/IControllerCustomer/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <soap:operation soapAction="http://tempuri.org/IControllerCustomer/GetCustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://tempuri.org/IControllerCustomer/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomer">
      <soap:operation soapAction="http://tempuri.org/IControllerCustomer/EditCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/IControllerCustomer/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IControllerProduct/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://tempuri.org/IControllerProduct/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <soap:operation soapAction="http://tempuri.org/IControllerProduct/CreateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <soap:operation soapAction="http://tempuri.org/IControllerProduct/EditProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IControllerProduct/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/IControllerOrder/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderById">
      <soap:operation soapAction="http://tempuri.org/IControllerOrder/GetOrderById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IControllerOrder/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditOrder">
      <soap:operation soapAction="http://tempuri.org/IControllerOrder/EditOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IControllerOrder/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceModeloNegocio">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:58576/ServiceModeloNegocio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>