Order_Grabber_Web/Connected Services/ServiceCustomer/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCustomer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Order_Grabber_DataService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerControl_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICustomerControl_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerControl_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="ICustomerControl_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerControl_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ICustomerControl_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerControl_GetBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBy" />
  </wsdl:message>
  <wsdl:message name="ICustomerControl_GetBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerControl_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ICustomerControl_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerControl">
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlableOf_Customer/Delete" message="tns:ICustomerControl_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlableOf_Customer/DeleteResponse" message="tns:ICustomerControl_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlableOf_Customer/Edit" message="tns:ICustomerControl_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlableOf_Customer/EditResponse" message="tns:ICustomerControl_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlableOf_Customer/Create" message="tns:ICustomerControl_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlableOf_Customer/CreateResponse" message="tns:ICustomerControl_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlableOf_Customer/GetBy" message="tns:ICustomerControl_GetBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlableOf_Customer/GetByResponse" message="tns:ICustomerControl_GetBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlableOf_Customer/GetAll" message="tns:ICustomerControl_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlableOf_Customer/GetAllResponse" message="tns:ICustomerControl_GetAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerControl" type="tns:ICustomerControl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IControlableOf_Customer/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IControlableOf_Customer/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IControlableOf_Customer/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBy">
      <soap:operation soapAction="http://tempuri.org/IControlableOf_Customer/GetBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IControlableOf_Customer/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCustomer">
    <wsdl:port name="BasicHttpBinding_ICustomerControl" binding="tns:BasicHttpBinding_ICustomerControl">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Order_Grabber_DataService/ServiceCustomer/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>